<div class="flex-col w-full h-auto mt-[40px] text-[#8d8d8d] text-[14px] flex-wrap">
  <form
    class="flex-col flex-wrap bg-transparent w-full h-auto font-[400]"
    (ngSubmit)="onTextTyped()"
  >
    <label for="textInput">¿Cómo prefieres que te llamemos?</label>

    <div class="flex justify-between items-center w-full">
      <input
        type="text"
        name="textInput"
        placeholder="Escribe tu nombre"
        [ngModel]="textTyped()"
        (ngModelChange)="textTyped.set($event)"
        [ngClass]="{ 'text-red-400': isDisabled() }"
        class="border-0 bg-transparent border-b border-[#8d8d8d] w-11/12 h-[37px]"
      />
      <app-microphone (textRecognized)="onSpeechRecognized($event)"></app-microphone>
    </div>

    <span>{{ charCount() }}/15 caracteres</span>

    <button
      type="submit"
      [disabled]="isDisabled()"
      [ngClass]="{
        'bg-green-600': hasText() && !isDisabled(),
        'bg-[#ccc] pointer-events-none': !hasText() || isDisabled(),
        'pointer-events-none': isDisabled()
      }"
      class="transition-colors duration-300 flex justify-center items-center mx-auto w-full mt-[40px] rounded-full border-0 sm:max-w-[356px] h-[42px] text-white text-[16px]"
    >
      Comenzar
    </button>
  </form>

  <div
    class="block w-auto mt-[24px] text-wrap"
    *ngIf="encryptedResponse() as result"
  >
    <h4 class="text-green-200 text-[13px] font-bold">Texto encriptado:</h4>
    <p class="block text-green-200 text-wrap break-all text-[13px]">
      {{ result }}
    </p>
  </div>
</div>
