<div
  class="flex-col w-full sm:max-w-[410px] h-full p-[25px] mx-auto my-auto text-[#c2c2c2]"
>
  <div
    class="flex-col justify-center w-full mx-auto ] color-gray-300 bg-[#000012] h-full min-h-[100vh]"
  >
    <img [src]="imageUrl" class="w-full min-w-[250px] sm:min-w-[228px]" />
    <h1 class="flex-col font-[500] center text-3xl mt-[24px]">
      ¡Te damos la bienvenida a Banco Azteca!
    </h1>
    <p class="text-[16px]">
      Usa tu préstamo como dinero en efectivo o compra en donde quieras.
    </p>
    <encription-form> </encription-form>
  </div>
</div>
