<div
  class="flex-col w-full sm:max-w-[410px] bg-[#000012] h-full p-[25px] mx-auto my-auto text-[#c2c2c2]"
>
  <img [src]="imageUrl" class="w-full min-w-[250px] min-w-[228px]" />
  <h1 class="flex-col font-[500] center text-3xl mt-[24px]">
    ¡Te damos la bienvenida a Banco Azteca!
  </h1>
  <p class="text-[16px]">
    Usa tu préstamo como dinero en efectivo o compra en donde quieras.
  </p>

  <div class="flex-col w-full h-auto mt-[40px] text-[#8d8d8d] text-[14px]">
    <div
      class="border-b border-[#8d8d8d] bg-transparent w-full h-auto font-[400]"
    >
      <span>¿Cómo prefieres que te llamemos?</span>
      <input
        type="text"
        placeholder="Escribe tu nombre"
        class="border-0 bg-transparent w-full h-[37px]"
      />
    </div>
    <span class="flex mr-auto">0/15 caracteres</span>
  </div>
</div>
